.shopping-list-container {
  padding-top: 19vh !important;
  padding-left: 5vh !important;
  padding-right: 5vh !important;
  background-position: center;
  background-size: 70%;
  background-color: rgba(0, 0, 0,0.9);
  background-blend-mode: darken;
}
