.shopping-list-container {
  padding-top: 120px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  background-position: center;
  background-size: 70%;
  background-color: rgba(0, 0, 0,0.8);
  background-blend-mode: darken;
}

/* .shopping-container {
  width: 100%;
  height: 100vh; /* Utilisation de 100vh pour couvrir toute la hauteur de l'écran */
  /* display: flex;
  background-image: url('../../public/img.png');
  background-position: center;
  background-size: 70%;
  background-color: rgba(0, 0, 0,0.4);
  background-blend-mode: darken; 

} */ 