.title-container {
    flex-direction: column;
    margin-top: 5%;
    padding: 5%;
   
    background-size: 70%;
    background-color: rgba(0, 0, 0,0.9);
    background-blend-mode: darken;
}

.title-word {
    font-size: 2em;
    color: black;
    text-align: center;
    padding: 10px;
    font-family: "CalligraphieFont" !important;
    background-color: #DCC097 !important;
}