.cart-item {
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 10px;
  

  }
 .cart-item-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
  .cart-item-title {
    font-weight: bold !important;
    align-items: center !important;
  }
  
  .cart-item-price {
    align-self: flex-end !important;
    justify-content: flex-end !important;
    text-align: end;
    font-weight: bold !important;

  }
  
  .cart-item-delete-button {
    margin-left: auto;
  }
  .cart-item-change-quantity {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    flex-grow: 1;
    height: 25px;
    border-radius: 10px;
  }