.favorite-list {
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 37% !important;
  }

.favorite-button {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  align-self: center !important;
}