.nav-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid gray;
  }
  
  
  .nav-footer {
      justify-content: center !important;
  }
  
  .nav-list {
    height: 600px;
    border-bottom: 1px solid gray;
  
  }
  
  .cart-validation-button {
    background-color: black !important;
    color: white !important;
    padding: 10px  !important; 
    width: 90%;
  }
  .cart-wach-card-button {
    color: black !important;
    background-color: white !important;
    padding: 10px!important; 
    border: 2px solid black !important;
    cursor: pointer;
    width: 90%;
  }
  .cart-total {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
  
  }