.signin-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #f9f9f9;

}
.signin-form-container{
  width: 60% !important;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.signin-form {
  width: 70% !important;
  display: flex;
}
.signin-form h5 {
  margin-bottom: 5%;
  padding: 15px;
  color: rgb(72, 210, 164) !important;
  text-align: center;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 40px;
}


.login-button-container {
  width: 100% !important;
  margin: auto;
  justify-content: center !important;
  align-items: center ! important;
  display: flex !important;
  padding: 10px;
}
.login-button {
  width: 50% !important;  
  background-color: rgb(72, 210, 164) !important;
  border-radius: 50px !important;
  margin-top: 2% !important;
}



.signin-form button {
  width: 100%;
  margin: 10px 10px;
  padding: 10px;
  background-color: rgb(72, 210, 164);
  color: #fff;
  border: none;
  cursor: pointer;
  
}
.signin-right-container {
  width: 40% !important;
  padding: auto;
  justify-content: center !important;
  display: flex;
  background-color: aquamarine;
}

.signin-right {
  width: 60%;
  display: flex;
  margin: auto;
}
.signin-right h5 {
  color: #333;
  text-align: center;
  font-family: 'Times New Roman';
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 40px;
}
.signin-right h6 {
  color: #333;
  text-align: center;
  font-family: 'Times New Roman';
  margin-bottom: 50px;
  font-weight: bold;
  color: gray;
} 

.login-register-button {
  width: 100%;
  margin: 10px 10px;
  padding: 10px;
  background-color: white !important;
  color: black !important;
  border-radius: 50px !important;
  border: 1px solid #fff !important;
  cursor: pointer;
}